{% extends 'base.html' %}

{% block title %}
    My Profile
{% endblock %}

{% block content %}
<div class="center">
    <img src="/static/images/profile.jpg">
</div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">My Total Score: {{ object.score }}</span>
                </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card purple lighten-2">
                <div class="card-content white-text">
                    <span class="card-body">Questions I've Asked</span>
                </div>
          </div>
        </div>
    </div>
    <div class="row">
        {% for question in object.user.question_set.all %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title black-text">
                            {{ question.title }}
                        </span>
                        <a href="{% url 'question_detail' question.id %}"><i class="material-icons teal-text">label</i></a>
                    </div>
                </div>
            <p></p>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue lighten-1">
                <div class="card-content white-text">
                    <span class="card-body">Questions I've Answered</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for answer in object.user.answer_set.all %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title black-text">
                            {{ answer.question_answered.title }}
                        </span>
                        <a href="{% url 'question_detail' answer.question_answered.id %}" class="white-text">
                            <i class="material-icons teal-text">label</i>
                        </a>
                    </div>
                </div>
            <p></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}