{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
    <br>
    <div class="card-panel teal">
      <span class="white-text">
          <h2>{{ object.title }}</h2>
          <h4>{{ object.body }}</h4>
      </span>
    </div>
    <a href="{% url 'create_answer' object.id %}" class="waves-effect waves-light btn">Submit Answer</a>
        <ul class="collapsible" data-collapsible="accordion">
            {% for answer in object.answer_set.all %}
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ answer.answerer }} says:</div>
              <div class="collapsible-body"><p>{{ answer.body }}</p></div>
            </li>
            {% endfor %}
        </ul>
    <br>
    <br>
    <script type="text/javascript">

        $('.collapsible').collapsible({
            accordion: false
        })
        $('.modal-trigger').leanModal();
    </script>
{% endblock %}
{% block secondary %}
{% endblock %}