{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
    <br>
    <div class="card-panel teal">
      <span class="white-text">
          <h2>{{ object.title }}</h2>
          <h4>{{ object.body }}</h4>
      </span>
    </div>
    
        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>

    <script type="text/javascript">

        $('.collapsible').collapsible({
            accordion: false
        })
    </script>
{% endblock %}
{% block secondary %}
{% endblock %}