{% extends 'base.html' %}

{% block title %}
Tag List
{% endblock %}

{% block content %}
<div class="center-align">
    <div class="row">
        <div class="col s12 m6 l4"></div>
           <div class="col s12 m6 l4">
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title center">All Tags</span>
                    </div>
                </div>
           </div>
        <div class="col s12 m6 l4"></div>
    </div>
</div>

<div class="row">
    {% for object in object_list %}
        <div class="col s12 m6 l4">
            <a href="{% url 'tag_detail'  object.id%}" class="chip">
                <i class="material-icons left">visibility</i>{{ object.title }}</a>
            <p></p>
        </div>
    {% endfor %}
</div>
{% endblock %}